# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
venv.bak/
.vscode/
.idea/

# PyInstaller
*.spec
build/
dist/

# Project specific
config/settings.json
data/
templates/*.json
!templates/README.md
ffmpeg.exe
assets/fonts/
logs/
*.log
.DS_Store
build_exe.bat
publish_version.bat